# Node.js
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# Debugger configurations
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
